@font-face {
    font-family: "gilroy-regular";
    src: url("../fonts/gilroy-regular.ttf");

}

@font-face {
    font-family: "gilroy-medium";
    src: url("../fonts/gilroy-medium.ttf");

}

@font-face {
    font-family: "gilroy-semibold";
    src: url("../fonts/gilroy-semibold.ttf");

}

@font-face {
    font-family: "gilroy-bold";
    src: url("../fonts/gilroy-bold.ttf");

}

* {
    margin: 0;
}

body {
    background: #FFF;
}

ul {
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    color: rgb(0, 0, 0);
    gap: 500px;
    height: 120px;
    width: 1170px;
    margin: 0 auto;

}

.head-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 137px;
}

.head-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 533px;
}

.menu-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 14px;
}

.logo-upper {
    width: 35px;
    height: 40px;
    flex-shrink: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 533px;
    /* gap: 40px; */
}

/* .menu  a {

} */
.menu-item-first {
    color: #F25822;
    font-family: "gilroy-semibold";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.menu-item {

    color: #000;
    font-family: "gilroy-medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    white-space: nowrap
}

.intro {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    gap: 40px;
    margin: 0 auto;
    margin-top: 90px;
    align-items: flex-start;

}

.image-intro {
    width: 545;
    height: 375;

}

.intro-left {
    width: 589px;

}

.intro-title {
    color: #000;
    font-family: "gilroy-bold";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}

.intro-text {
    color: #888;
    font-family: "gilroy-medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 37px;
}

.intro-button-wrapper {

    display: flex;
    gap: 72px;
    align-items: center;

}

.intro-button {
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    border: none;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: "gilroy-bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.intro-button-right {
    display: inline-flex;
    align-items: flex-start;
    color: #AAA;
    font-family: "gilroy-bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;

}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 259px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    width: 1200px;
    gap: 48px;
}

.upper-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    list-style: none;
    width: 1228px;
    height: 291px;
}

.upper-card {

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #000;
    flex-direction: column;
    width: 370px;
    height: 291px;
    
    
}

.icon-card {
    /* width: 70px;
    height: 70px; */
    flex-shrink: 0;
    padding-top: 40px;
    padding-left: 30px;
}

.card-caption {
    color: #000;
    font-family: "gilroy-bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 25px;
    padding-left: 30px;
}

.card-text {
    color: #666;
    font-family: "gilroy-regular";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 17px;
    padding-left: 30px;
    padding-right: 30px;
    /* 22.5px */
}

.card-link {
    color: #000;
    font-family: "gilroy-bold";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 25px;
    padding-left: 30px;

    /* 16.5px */
}